<h1>

    Miselaneos</h1>
<hr>


<app-cmp-ng-style></app-cmp-ng-style>
<br>
<app-cmp-ng-class></app-cmp-ng-class>
<br>
<app-cmp-ng-class-async></app-cmp-ng-class-async>
<br>
<div class="container">

    <div class="row">
        <div class="col-12">
            <h2 class="text text-danger"> Directiva personalizada</h2>
            <p class="text text-justify" [appResaltado]="'red'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus assumenda non culpa! Ipsa mollitia eius ipsum ullam perspiciatis, tempora fugit impedit aliquam accusantium, sunt doloribus delectus vitae officiis nam ad.</p>
        </div>
    </div>
</div>
<br>
<app-cmp-ng-switch></app-cmp-ng-switch>